<%- include('partials/header') -%>
<div class="container">
    <img src="register.png">
    <h2>Please Register YourSelf</h2>
</div>

<div class="container">
    <form action="/register" method="post">
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" name="username" class="form-control" placeholder="Enter username" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Email</label>
          <input type="text" name="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
          </div>
          <div class="form-group">
            <label for="pwd">Phone:</label>
            <input type="text" name="phone" class="form-control" placeholder="Enter phone" id="phone">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>