<%- include('partials/header') -%>
<div class="container">
    <img src="register.png">
    <h2>Welcome to The dashboard</h2>
    <h4>You have successfully LoggedIn</h4>
</div>


<div class="container">
    <h2></h2>
</div>